{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <p class="h3 text-center">Change your password below</p>
    	<form action="{{url_for('auth.reset_with_token', token=token)}}" method="POST" >
    		{{password_form.hidden_tag()}}

    	<div class="input-field">
          {% if password_form.password.errors %}
                {% for error in  password_form.password.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{error}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}

        {% endif %}
        <label for="password">{{password_form.password.label}}</label>
        {{password_form.password(class="form-control",id="password", placeholder="password")}}
        </div>

      	<div class="input-field">
          {% if password_form.confirm_password.errors %}
                {% for error in  password_form.confirm_password.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>{{error}}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}

        {% endif %}
        <label for="confirm_password">{{password_form.confirm_password.label}}</label>
        {{password_form.confirm_password(class="form-control",id="confirm_password", placeholder="repeat password")}}
      </div>
     <button type="submit" class="btn btn-primary">Change password</button>
    </form>
    </div>
  </div>
</div>
{% endblock content %}
